{% extends 'base.html.twig' %}
{% block title %} Page d'acccueil {% endblock %}
{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
    <div class ="container">
        <h2>Les auteurs</h2>
        <div class="row flex">
            {% for lst in auteurs %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ path('auteur.show',{id:lst.id,slug:lst.slug }) }}">{{ lst.nomAuteur }} {{ lst.prenomAuteur }}</a>
                            </h5>
                            <p class="card-text">Cliquez pour voir ces livres</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}